/*importando a fonte*/
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Oswald:wght@200..700&display=swap');

/*colocando os padrões do site*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Grechen Fuemen", serif;
}

:root{
    --first-color: #2c541b;
    --texts-color: #fff;

}

.container{
    display: flex;
    flex-direction: column;
}

.periodos .container{
    display: flex;
    width: 100%;
    height: 100px;
    font-size: 48px;
    background: rgb(132,142,161);
    background: linear-gradient(193deg, rgba(132,142,161,1) 0%, rgba(132,142,161,1) 100%);
    justify-content: center;
    align-items: center;
}

.pero_vaz_body{
    background-image: url(../image/arvores/amazonia.jpg);
    background-repeat: no-repeat;
    background-position: center start;
    background-position-x: 100%;
    background-size: 2100px;
}

.pero_vaz_body .image_brasil{
    width: 100%;
    height: 1200px;
}

.pero_vaz_body .image_brasil .brasil h1{
    padding-left: 350px;
    font-size: 36px;
    color: var(--texts-color);
}

.pero_vaz_body .image_brasil .brasil .bird{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.pero_vaz_body .image_brasil .brasil .bird img{
    width: 100%;
    height: 600px;
    padding-left: 500px;
}

.pero_vaz_body .image_brasil .brasil .background{
    background: rgb(101,101,111);
    background: linear-gradient(180deg, rgba(101,101,111,1) 0%, rgba(228,215,129,1) 97%);
    width: 100%;
    height: 600px;
}

.pero_vaz_body .image_brasil .brasil img{
    padding-top: 250px;
    width: 100%;
    height: 700px;
    border-radius: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

.pero_vaz_body .image_brasil .brasil h4{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--texts-color);
}

.pero_vaz{
    margin-left:0;
    margin-top: 150px;
}

.pero_vaz .accordion{
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.pero_vaz .accordion .click_on_me{
    padding-top: 100px;
    opacity: 3;
}

.pero_vaz .accordion .click_on_me h1{
    color: black;
    opacity: 3;
    font-size: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-color: wheat;
}

.pero_vaz .accordion .text{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
}

.pero_vaz .accordion h1{
    background: linear-gradient(180deg, rgba(250,235,215,1) 3%, rgba(245,209,159,1) 40%, rgba(223,194,121,1) 100%);
    width: 200px;
    opacity: 0;
    margin-top: 15px;
}

.pero_vaz .accordion h2{
    width: 500px;
    font-size: 20px;
    opacity: 0;
}

.pero_vaz h4{
    color: var(--texts-color);
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 5px;
}

.pero_vaz .accordio h2 .active{
    width: 600px;
    font-size: 25px;
    opacity: 1;
}

.pero_vaz .accordion h1 .active{
    background: linear-gradient(180deg, rgba(250,235,215,1) 3%, rgba(245,209,159,1) 40%, rgba(223,194,121,1) 100%);
    width: 200px;
    opacity: 1;
}



@media (width<1080){
    .pero_vaz_body .image_brasil{
        width: 100%;
        padding: 10px 0;
        height: 100px;
    }
    .periodos .container{
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20px;
    }
}