@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&family=Oswald:wght@200..700&display=swap');

.works{
    display: flex;
    flex-direction: column;
}
.works .works_text .red_birds{
    width: 100%;
    height: 500px;
}
.works .works_text .red_birds img{
    width: 100%;
    height: 300px;
}